* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/* Navbar Section */
.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    transition: all 0.4s;
}

.nav-item a:hover {
    color: rgb(242, 100, 87);
}

.search {
    height: 45px;
    outline: none;
    border: 2px solid rgb(242, 100, 87);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1 {
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(242, 100, 87);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}

.btn1:hover {
    background-color: rgb(242, 57, 40);
}

.bi-cart4 {
    font-size: 30px;
    color: black;
    cursor: pointer;
    transition: all 0.4s;
}

.bi-cart4:hover {
    color: rgb(22, 173, 22);
}

.navbar-toggler {
    font-size: 23px;
    color: black;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* Main Section */

.main {
    background: url(./imgs/fr1.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main h1 {
    font-size: 4.5rem;
}

.main p {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.line {
    height: 6px;
    width: 30%;
    background-color: rgb(242, 100, 87);
    display: inline-block;
}

.mbtn1 {
    font-weight: 600;
    outline: none;
    border: none;
    color: white;
    background: rgb(242, 100, 87);
    border-radius: 50px;
    transition: all 0.4s;
}

.mbtn1:hover {
    background-color: rgb(242, 57, 40);
    color: white;

}

.mbtn2 {
    font-weight: 600;
    outline: none;
    border: 1px solid rgb(242, 100, 87);
    color: rgb(242, 100, 87);
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.4s;
}

.mbtn2:hover {
    background-color: rgb(242, 100, 87);
    color: white;
}


/* About Section */
.welcome {
    background: rgb(242, 100, 87);
}

.line2 {
    height: 6px;
    width: 50%;
    background-color: white;
    display: inline-block;
}

.welcome h1 {
    font-size: 3rem;
    font-weight: bold;
}

.welcome i {
    font-size: 45px;
    color: rgb(242, 100, 87);
}

/* Product Section */

.star {
    text-align: end;
    color: orange;
}

.product .card {
    border: none;
    border-radius: 0;

}

.product .card-body {
    border: 1px dashed rgb(190, 185, 185);
}

.btn2 {
    background-color: rgb(242, 100, 87);
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
}

.btn2:hover {
    background-color: transparent;
    border: 1px solid rgb(242, 100, 87);
    color: rgb(242, 100, 87);
}

/* Services Section */

.services i {
    font-size: 45px;
}

.services .card {
    border-radius: 0;
    transition: all 0.4s;
}

.services .card:hover {
    background-color: rgb(242, 100, 87);
    color: white;
}

/* Contact Section */
.btn3 {
    background-color: rgb(242, 100, 87);
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
}

.btn3:hover {
    background-color: rgb(242, 57, 40);
    color: white;
}

/* Footer Section */
.footer {
    background-color: rgb(242, 100, 87);
}

.foot {
    background-color: white;
    border-radius: 50%;
    border: 1px solid #f7f6f6;
    padding: 5px 10px;
}

.foot:hover {
    background-color: transparent;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}